fastapi==0.110.1
uvicorn==0.25.0
starlette==0.37.2
pydantic==2.12.5
motor==3.3.1
pymongo==4.5.0
aiosmtplib==5.1.0
email-validator==2.3.0
beautifulsoup4==4.14.3
aiohttp==3.13.3
openai==1.99.9
APScheduler==3.11.2
tzlocal==5.3.1
notion-client==3.0.0
python-dotenv==1.2.1
python-multipart==0.0.22
requests==2.32.5
